.main {
    padding: .5rem 1rem;
    font-family: inherit;
    max-width: 1020px;
}

@media(min-width: 700px) {
    .main {
        padding: 2rem 1rem .5rem 1rem;
        font-family: inherit;
        max-width: 940px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
    }
}