.card {
    width: 300px;
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
    border-radius: var(--radius);
    border-left: .25rem solid var(--clr-primary-5);
    padding: 1.75rem 1rem;
}

.cardBody {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.row1,
.row2 {
    margin: .3rem 0;
}

.row1 {
    color: var(--clr-primary-5);
    font-size: .75rem;
}

.row2 {
    font-size: 1.5rem;
}

.col2 {
    margin-top: .4rem;
}

.green {
    border-left: .25rem solid green;
}

.cyan {
    border-left: .25rem solid cyan;
}

.orange {
    border-left: .25rem solid orange;
}